@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}
.mainTitle {
  margin-top: 2rem;
  font-weight: 700;
  text-align: center;
}

.subTitle {
  font-weight: 300;
  text-align: left;
  text-decoration: underline;
}

.chef-hat {
  height: 8rem;
  width: 8rem;
  margin-left: 4rem;
}
